<div class="container is-max-desktop mt-5">
    <h2><strong>MY POSTS</strong></h2>
</div>

{{#each posts as |post|}}
<div class='container is-max-desktop mt-5'>
  <div class="columns is-gapless">
  <div class="column is-one-half has-background-light"><strong><a class="has-text-black" href='dashboard/edit-post/{{post.id}}'>{{post.title}}</a></strong></div>
  <div class="column is-one-half has-background-light">Created By {{post.user.name}} on {{format_date post.date_created}}</div>
</div>
{{/each}}

<div class="field is-grouped">
  <div class="control mt-5">
    <button class="button is-link" id="createPostBtn">Create New Post</button>
  </div>
</div>


<script src='/js/newPostRedirect.js'></script>
