<div class="container is-max-desktop mt-5">
   <nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/" class="has-text-grey-dark">Home</a></li>
    <li class="is-active"><a href="" class="has-text-grey" aria-current="page"></li>Dashboard</a></li>
  </ul>
</nav>


{{#each posts as |post|}}
    <div class='card mt-5'>
      <header class='card-header has-background-light'>
        <p class='card-header-title'><a class='has-text-black' href='dashboard/edit-post/{{post.id}}'>{{post.title}}</a></p>
        <span class="has-text-weight-medium pr-5 pt-3">
          {{format_date post.date_created}}
        </span>
      </header>
    </div>
  {{/each}}

<div class="field is-grouped">
  <div class="control mt-5">
    <button class="button is-link" id="createPostBtn">Create New Post</button>
  </div>
</div>

</div>
<script src='/js/newPostRedirect.js'></script>
