<div class='container is-max-desktop mt-5'>
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="/" class="has-text-grey-dark">Home</a></li>
      <li class="is-active"><a href="" class="has-text-grey" aria-current="page"></li>All Posts</a></li>
    </ul>
  </nav>
  {{#each posts as |post|}}
    <div class='card mt-5'>
      <header class='card-header has-background-light'>
        <p class='card-header-title'><a class='has-text-black' href='/post/{{post.id}}'>{{post.title}}</a></p>
        <span class="has-text-weight-medium pr-5 pt-3">
          <a class='has-text-grey-dark' href='/post/{{post.id}}'>View</a>
        </span>
      </header>
      <div class='card-content'>
        <div class='content'>
          {{post.post_content}}
        </div>
      </div>
    </div>
  {{/each}}
  </div>