/* Dark Mode Styles */
:root {
  --darkBlue: #1b262c;
  --medBlue: #0f4c75;
  --blue: #3282b8;
  --lightBlue: #bbe1fa;
  --sand: #f9f7f0;
  --lightGray: #bebebe;

  --blueGrayDark4: #263238;
  --blueGrayDark3: #37474f;
  --blueGrayDark2: #455a64;
  --blueGrayDark1: #546e7a;
  --blueGray: #607d8b;
  --blueGrayLight1: #78909c;
  --blueGrayLight2: #90a4ae;
  --blueGrayLight3: #b0bec5;
  --blueGrayLight4: #cfd8dc;
  --blueGrayLight5: #eceff1;

  /* HTML Elements */
  body {
    background-color: var(--blueGrayLight4);
  }

  input {
    color: var(--blueGrayLight5);
  }

  label {
    color: var(--blueGrayLight4);
  }

  /* HTML Classes */

  .headerBackground {
    border: none;
    background-color: var(--blueGrayDark3);
  }

  .navBackground {
    border: none;
    background-color: var(--blueGrayDark3);
  }

  .card {
    background-color: var(--blueGrayDark1);
    color: var(--blueGrayLight5);
  }

  .card-action {
    background-color: var(--blueGrayDark2);
  }

  .icon-block {
    background-color: var(--blueGrayDark1);
    border-color: var(--darkBlue);
  }

  .materialize-textarea {
    background-color: var(--blueGrayDark1);
    color: var(--blueGrayLight5);
  }

  .page-footer {
    background-color: var(--blueGrayDark2);
  }

  /* HTML IDs */
  #nav {
    background-color: var(--blueGrayDark3);
  }

  #submitBlog {
    background-color: var(--blueGrayDark2);
    color: var(--blueGrayLight5);
  }
}

header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}
